.title-header {
    background-color: rgba(255, 255, 255, 0.45);
    padding: 30px 0;
}
.registration-container {
    background-color: rgba(255, 255, 255, 0.45);
    padding: 40px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.buyNow {
    text-align: center;
}
.buyNow h5 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.buyNow button.btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    justify-content: center;
}
.registration-container form input[type="name"],
.registration-container form input[type="email"],
.registration-container form input[type="password"] {
    padding: 10px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .registration-container {
        margin: 20px auto;
        width: 80%;
    }
    .registration-container form input[type="name"],
    .registration-container form input[type="email"],
    .registration-container form input[type="password"] {
        width: calc(100% - 20px);
    }
}
@media (max-width: 424px) {
    .registration-container form input[type="name"],
    .registration-container form input[type="email"],
    .registration-container form input[type="password"] {
        width: calc(100% - 20px);
    }
}
